
// borders
$border-radius          : 2px;
$border-radius-medium	: 5px;
$border-radius-large	: 10px;

// 50% gives an oval when height != width
$border-radius-rounded  : 9999em;
$border-width           : 1px;
$border-color           : rgba(0, 0, 0, 0.1);
$border-color-alt       : rgba(255, 255, 255, 0.3);

// Width

$icon-size				: 20px;
